.registerMain{
    width: 1100px;
    margin: 40px auto;
}
.registerMain .title{
    width: 800px;
    height: 80px;
    background: #ADF;
    margin:  0 auto;
}
.registerMain .title .title-left{
    font-size: 26px;
    padding-left: 30px;
    line-height: 80px;
    display: inline-block;
    color: #FF6100;
}
.registerMain .title .title-right{
    float: right;
    font-size:14px;
    line-height: 80px;
    padding-right: 40px;
}
.registerMain .main{
    margin: 0 auto;
}
.registerMain .main .mainList{
    padding: 50px 50px 0 200px;
}
.registerMain .main .mainList li{
    margin-bottom: 30px;
}
.registerMain .main .mainList li label{
    font-size: 14px;
    display: inline-block;
    width: 100px;
    height: 38px;
    font-weight: bold;
    text-align: right;
    line-height: 38px;
    padding-right: 10px;
}
.registerMain .main .mainList li input{
    width: 260px;
    height: 20px;
    line-height: 20px;
    padding: 8px 5px;
    color: #969696;
    background-color: #fff;
    border: 1px solid #a5a2a9;
    margin-right: 15px;
}
.registerMain .main .mainList .protocolList{
    padding-left: 50px;
}
.registerMain .main .mainList li .protocol{
    width: 20px;
}
.registerMain .main .mainList li .protocolLabel{

}
.registerMain .main .mainList li .btn{
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: cornflowerblue;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 120px;
    cursor: pointer;
}
.registerMain .main .mainList li span{
    display: inline-block;
    color: #e4393c;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
}
